<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User List</title>
</head>
<body>

  <h1>Liste of Users</h1>

  <div class="box-header with-border">

    <h3 class="box-title">Tous les Users disponibles</h3>

  </div>
  <div class="box">
    <div class="box-body no-padding">
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>lastName</th>
          <th>firstName</th>
          <th>email</th>
        </tr>

        <tr th:each="row : ${listUsers}">
          <td th:text="${row.id}"></td>
          <td th:text="${row.lastName}"></td>
          <td th:text="${row.firstName}"></td>
          <td th:text="${row.email}"></td>

        </tr>
      </table>
    </div>

  </div>
</div>
</body>
</html>

